/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Body Styling */
body {
    background-color: #D80027; /* Red background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

/* Header Styling */
header {
    width: 100%;
    background-color: #333;
    padding: 20px 0;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
}

/* Form Styling */
form {
    background-color: #F8B8C0; /* Light pink background */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    position: relative; /* Needed for dropdown positioning */
}

/* Form Elements */
label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: black;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #444;
}

/* Dropdown Styling */
.dropdown {
    position: relative;
    width: 100%;
}

.dropbtn {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    box-sizing: border-box;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    max-height: 150px; /* Set a maximum height */
    overflow-y: auto;  /* Add scroll if needed */
}

.dropdown-content .dropdown-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-content .dropdown-item input[type="checkbox"] {
    margin-right: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Footer Styling */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
